.container {
  width: 100%;
  padding: 5rem 0;
  background-image: url("../../../../public/Assets/restaurantpage/headerhero/image01.png");
  background-repeat: no-repeat;
  background-size: 50rem;
  background-position: 100% 0;
}
.box {
  width: 86%;
  margin: 0 auto;
  display: flex;
  border: 1px solid red;
}
