.container {
  width: 100%;
  padding: 5rem 0;
  background-image: url("../../../../public/Assets/restaurantpage/headerhero/image01.png");
  background-repeat: no-repeat;
  background-size: 50rem;
  background-position: 100% 0;
}
.box {
  width: 86%;
  margin: 3rem auto;
  display: flex;
}

.box_left {
  width: 50%;
  margin: 3rem 0;
}
.img {
  height: 41.5625rem;
  &:hover {
    animation: rotate_center 10s linear infinite alternate both;
  }
  @keyframes rotate_center {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @media screen and (max-width: 767px) {
    height: 16rem;
  }
}

.box_buttons {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button {
  width: 12.1875rem;
  height: 3.625rem;
  background: #195a00;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  a {
    color: var(--white);
    font-weight: 800;
  }
}
.button_transparent {
  width: 12.1875rem;
  height: 3.625rem;
  border: 1px solid #195a00;
  margin-left: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: #195a00;
  font-weight: 800;

  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  &:hover {
    width: 12.1875rem;
    background: #195a00;
    color: var(--white);
  }
}
