.container {
  width: 100%;
  padding: 6rem 0;
  background-color: #0d0d0d;

  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../../public/Assets/restaurant/headerhero/image02.png");

  background-size: 90rem;
  background-repeat: no-repeat;
}

.box {
  width: 86%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}
.box_left {
  display: flex;

  justify-content: center;
}

.box_line {
  height: 100%;
  width: 1.625rem;
  margin: 1rem auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.box_title {
  padding: 3rem;
}
.line {
  margin: 1rem auto;
  height: 10.5rem;
  background: #ffffff;

  border: 1px solid #ffffff;
}
.box_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;

  height: 3.75rem;
  width: 11.875rem;
  background: #ff9f0d;
  border-radius: 1.875rem;

  a {
    color: #ffffff;
  }
}
.img {
  height: 30rem;
  &:hover {
    animation: rotate_center 10s linear infinite alternate both;
  }
  @keyframes rotate_center {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.box_img {
  cursor: pointer;
}
