.container {
  width: 100%;
  padding: 1rem 0;
  background-image: url("../../../public/Assets/restaurant/restaindcreative/image01.png");
  background-size: 96rem;
  background-repeat: no-repeat;
  @media screen and (max-width: 767px) {
    background-size: 100rem;
    background-position: -40rem;
  }
}
.box {
  width: 86%;
  margin: 1rem auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}
.box_title {
  display: flex;
  flex-direction: column;
  text-align: end;
}
.box_buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem;
  gap: 1rem;
}
.button {
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ff9f0d;
  border-radius: 30px;
  padding: 1rem 2.5rem;
}
.card {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
