.container {
  width: 100%;
  padding: 5rem 0;
  background-color: #0d0d0d;
}
.box {
  width: 86%;
  margin: 0 auto;
  display: flex;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.box_imgtop {
  display: flex;
  align-items: flex-end;
}
.box_imgbotton {
  display: flex;
}
.box_imgdual {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box_img {
  padding: 0.5rem;
}
.img {
  height: 20rem;
  @media screen and (max-width: 767px) {
    height: 10rem;
  }
}
.img_02 {
  height: 12rem;
  @media screen and (max-width: 767px) {
    height: 6rem;
  }
}
.img_03 {
  height: 17rem;
  @media screen and (max-width: 767px) {
    height: 8.5rem;
  }
}
.img_04 {
  height: 12rem;
  @media screen and (max-width: 767px) {
    height: 6rem;
  }
}
.img_05 {
  height: 8rem;
  @media screen and (max-width: 767px) {
    height: 4rem;
  }
}
.box_right {
  padding: 3rem;
  @media screen and (max-width: 767px) {
    padding: 5px;
  }
}
.box_cards {
  margin: 3rem 0;

  width: 23.375rem;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: left;
    padding: 4px;
  }
}
.card_year {
  width: 23.375rem;
  height: 5.8125rem;
  background: var(--white);
  border-left: 10px solid #ff9f0d;
  border-radius: 0.375rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;

  h2 {
    font-size: 42px;
    font-weight: bold;
    color: #ff9f0d;
  }
  strong {
    font-weight: 600;
  }
  @media screen and (max-width: 767px) {
    width: 19rem;
  }
}
