.container {
  width: 100%;
  padding: 5rem 0;
  background: #f6f6f6;
}
.box {
  width: 86%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.box_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("../../../../public/Assets/restaurantpage/lasterblog/image01.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 10rem;
}
.box_cards {
  display: flex;
  justify-content: space-between;
}
.options {
  margin: 2rem 0;
  height: 29rem;
  width: 21rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 0px 80px rgba(205, 205, 205, 0.25);
  border-radius: 6px;

  div {
    picture {
      img {
        height: 16rem;
      }
    }
    p {
      display: flex;

      font-weight: 400;
      font-size: 12px;
      line-height: 24px;
      color: #858585;
    }
    h3 {
      font-weight: 700;
      font-size: 16px;
      line-height: 28px;

      color: #333333;
    }
    a {
      display: flex;
      align-items: center;

      color: #333333;
    }
  }
}
