.container {
  width: 100%;
  padding: 5rem 0;
}
.box {
  width: 86%;
  margin: 0 auto;
  display: flex;
  border: 1px solid red;
}
.box_options {
  width: 70%;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
}
.option {
  display: flex;

  img {
    height: 12rem;
  }
}
