.container {
  width: 100%;
  border-top: 1px solid var(--gray-3);
  background: #0d0d0d;
  background-image: url("../../../public/Assets/restaurant/footer/image04.png");
  background-repeat: no-repeat;
  background-size: 10rem;
  background-position: 100% 100%;
}

.box {
  width: 86%;
  margin: 0 auto;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  @media screen and (max-width: 767px) {
    flex-direction: column;

    padding: 2rem 1rem 0 1rem;
  }
}

.box_1 {
  height: 100%;
  width: 100%;

  padding: 1rem;
  display: flex;
  flex-direction: column;

  p {
    font-family: var(--poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;

    color: var(--white);

    padding: 1rem 0;
  }
  ul {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    a {
      padding: 1rem 0;
      color: var(--white);
    }
  }

  @media screen and (max-width: 767px) {
    height: auto;
    padding: 1rem 0;
  }
}
.stamp {
  display: flex;
  align-items: center;
  gap: 1rem;
  p {
    color: var(--white);
    strong {
      color: var(--graphite-1);
      font-size: 12px;
    }
  }
  img {
    height: 3rem;
  }
}
.title {
  display: block;
  font-family: var(--poppins);
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;

  color: var(--white);
}
.title_sticker {
  padding-top: 4rem;
  display: block;
  font-family: var(--poppins);
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;

  color: var(--white);
}
.title_blog {
  display: block;
  font-family: var(--poppins);
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 2rem;
  color: var(--white);
}
.icons {
  width: 13.125rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box__icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 13.25rem;
}
.box__people {
  height: auto;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
}
.info_up {
  width: 70%;
  height: 8.9375rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: var(--helvetica);
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.3125rem;

  border-bottom: 1px solid #ff9f0d;
  color: var(--white);
  strong {
    font-weight: bold;
    font-size: 32px;
  }

  @media screen and (max-width: 767px) {
    span {
      font-size: 0.7rem;
    }
  }
}
.card_email {
  height: 3.5rem;
  width: 28.6875rem;
  background: #ff9f0d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  input {
    width: 16rem;
    height: 3rem;
    background: transparent;
    border: 0;
    font-size: 16px;
    margin-left: 10px;
  }
  button {
    height: 3.5rem;
    width: 11rem;
    font-size: 1rem;
    border-radius: 4px;

    background: var(--white);
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  @media screen and (max-width: 767px) {
    width: 10rem;
    height: 2rem;
    display: none;
  }
}
.info {
  width: 100%;
  height: 5.75rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--poppins);
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  background: #ff9f0d;
  opacity: 0.8;

  border-top: 1px solid var(--white);
  color: var(--white);
  strong {
    font-weight: bold;
  }
  div {
    width: 86%;

    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (max-width: 767px) {
    span {
      font-size: 0.7rem;
    }
  }
}
.icon_our {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
