.container {
  width: 100%;
  padding: 5rem 0;
}
.box {
  width: 86%;
  margin: 0 auto;
  display: flex;
  border: 1px solid red;
}
.img {
  height: 39.125rem;
}
.box_title {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}
.title {
  padding: 1rem 0;
  font-family: var(--helvetica);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height, or 117% */

  font-feature-settings: "kern" off;

  /* Gray 1 */

  color: #333333;
}
.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40rem;
  height: 6.9375rem;
  border-bottom: 1px dashed #e0e0e0;

  h3 {
    font-family: var(--helvetica);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    &:hover {
      color: #ff9f0d;
    }
  }
  p {
    font-family: var(--helvetica);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4f4f4f;
  }
  strong {
    font-family: var(--helvetica);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #ff9f0d;
  }
}
