.container {
  width: 100%;
  padding: 3rem 0;
}
.box {
  width: 86%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.box_title {
  margin: 0 4rem;
  h3 {
    font-family: var(--inter);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;

    color: #333333;
  }
  h1 {
    font-family: var(--helvetica);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 68px;
    /* or 113% */

    /* Primary coffee */

    color: #333333;
  }
  p {
    font-family: var(--inter);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: #333333;
  }
}
.box_cards {
  display: flex;
}
.options {
  padding: 2rem;

  img {
    height: 15rem;
  }
  h3 {
    font-family: var(--inter);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
  }
  p {
    font-family: var(--inter);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #333333;
  }
}
