.container {
  width: 100%;
  padding: 5rem 0;
}
.box {
  width: 86%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.box_title {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  h3 {
    font-family: var(--inter);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #ffffff;
  }
  h1 {
    font-family: var(--helvetica);
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 68px;
    /* or 113% */

    /* Primary coffee */

    color: #1e1e1e;
  }
  p {
    font-family: var(--inter);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    /* fffffff */

    color: #4f4f4f;
  }
}
.box_btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.box_button_trans {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;

  height: 3.75rem;
  width: 11.875rem;
  border: 1px solid #bc9a6c;
  border-radius: 0.25rem;

  a {
    color: #bc9a6c;
    font-family: var(--inter);
    font-weight: 600;
  }
}
.box_img {
  height: 25rem;
  width: 20rem;
  background-image: url("../../../../public/Assets/coffee-shop/coffeecategory/image07.png");
  background-size: 20rem;
  background-position: 70% 100%;
  background-repeat: no-repeat;
}
.box_right {
  display: flex;
  justify-content: space-between;
}
.options {
  display: flex;
  align-items: center;
  img {
    height: 10rem;
  }
  h3 {
    font-family: var(--helvetica);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;

    color: #4f4f4f;
  }
  p {
    font-family: var(--inter);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;

    color: #4f4f4f;
  }
}
